<h1>Listed below are all the shops you've shopped at</h1>

<ul>

<% for merchant in @merchants %>

<li><%= merchant.merchant_name %></li>

<% end %>

</ul>

<a class = "button" href="/merchants/new">New Merchant</a>