<h2>A New Merchant</h2>

<form action="/merchants" method="post">
  
<label for="name">Name of new merchant:</label>
<input type="text" name="merchant_name" id="name">

<input type="submit" name="Add Merchant">

</form>