<!DOCTYPE html>
<html>
<head>
  <title>MoneyTracker</title>

</head>
<body>

<ul>
  <li>
    <a href="/">Home Page</a>
  </li>
  <li>
    <a href="/tags">Type of spends</a>
  </li>
  <li>
    <a href="/merchants">Where you've been spending</a>
  </li>
  <li>
    <a href="/transactions">Your spending</a>
  </li>
</ul>

<%= yield %>

<p>Please use this app to help you keep track of your money!</p>

</body>
</html>