<h1>Listed below are the categories you have been splashing out on</h1>

<ul>
  
  <% for tag in @tags %>

  <ui> <%= tag.tag_name %> </li>
  <p><a href="/tags/<%= tag.id %>">Show Total Spend by indivividual category</a> </p>

  <% end %>
  
  
</ul>

<a class = "button" href="/tags/new">New Tag</a>