#navigation_bar h1 {
  text-align: center;
}

#navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c6ecc6;
}

#navigation_bar li {
    float: center;
}

#navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation_bar li a:hover {
    background-color: #b3d9ff;
} 

#home {
  background-image: url(images/currency.jpg);
}